@import url('https://fonts.googleapis.com/css?family=Krona+One|Montserrat+Subrayada&display=swap');

#text_font_1 {
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
}
.text_font_2 {
    color: white;
    font-family: 'Krona One', sans-serif;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
  }
.container_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image1 {
    background-image: url("island_1.jpg");
    background-size: 100%;
}
.image2 {
    background-image: url("space_5.jpg");
    background-size: 100%;
}
.image3 {
    background-image: url("water_5.jpg");
    background-size: 100%;
}
.image4 {
    background-image: url("leaves.jpg");
    background-size: 100%;
}
.image5 {
    background-image: url("leaves_2.jpg");
    background-size: 100%;
}
.image6 {
    background-image: url("lava_2.jpg");
    background-size: 100%;
}
.image7 {
    background-image: url("embers.jpg");
    background-size: 100%;
}
.image8 {
    background-image: url("lava_3.jpg");
    background-size: 100%;
}
.image9 {
    background-image: url("bark_2.jpg");
    background-size: 100%;
}
.image10 {
    background-image: url("space_6.jpg");
    background-size: 100%;
}
.image11 {
    background-image: url("ocean_sunset.jpg");
    background-size: 100%;
}
.image12 {
    background-image: url("lion.jpg");
    background-size: 100%;
}
.image13 {
    background-image: url("rock.jpg");
    background-size: 100%;
}
.image14 {
    background-image: url("bark.jpg");
    background-size: 100%;
}
.image15 {
    background-image: url("moss.jpg");
    background-size: 100%;
}
.image16 {
    background-image: url("seaweed.jpg");
    background-size: 100%;
}
.image17 {
    background-image: url("flowers.jpg");
    background-size: 100%;
}
.image18 {
    background-image: url("water_8.jpg");
    background-size: 100%;
}
.image19 {
    background-image: url("river.jpg");
    background-size: 100%;
}
.image20 {
    background-image: url("embers_2.jpg");
    background-size: 100%;
}
.image21 {
    background-image: url("sand_2.jfif");
    background-size: 100%;
}
.image22 {
    background-image: url("mountains.jfif");
    background-size: 100%;
}